body {
  background-color: #f5f5f5; 
  margin: 0; /* Reset default margin */
  padding: 0; /* Reset default padding */
}
.heading {
  text-align: center;
  margin: 60px auto;
  font-size: 50px;
  color: #333333; /
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  margin-top: 20px;
}

.game-info {
  width: 300px;
  margin-right: 20px;
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 440px;
  height: 440px;
  background-color: #e0e0e0; 
}

.line {
  display: flex;
  justify-content: center;
}

.cell {
  width: 100px;
  height: 100px;
  background-color: #f0f0f0; 
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  border: 1px solid rgb(218, 214, 214); 
  transition: background-color 0.3s ease-in-out; 
}

.cell.blue {
  background-color: #4e97d6; 
  color: white;
}

.cell.pink {
  background-color: #e796ad; 
}

.result {
  font-size: 24px;
  text-align: center;
  margin-top: 10px;
  margin-left: 300px;
}

.result.blue {
  color: #4e97d6;
}

.result.pink {
  color: #e796ad; 
}

.new-game-button {
  display: block;
  margin: auto;
  background-color: #559f5e;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}




.new-game-button:hover {
  background-color: #1565c0; 
}


/* Adjust heading size for smaller screens */
@media (max-width: 768px) {
  .heading {
    font-size: 36px;
    margin: 10px 0;
  }
}


/* Adjust container alignment for smaller screens */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
}

/* Adjust game info width for smaller screens */
@media (max-width: 768px) {
  .game-info {
    width: 90%;
    margin-right: 0;
    text-align: center;
  }
}

/* Adjust board size for smaller screens */
@media (max-width: 768px) {
  .board {
    width: 70%;
    height: auto;
    margin-top: 10px;
  }
}

/* Adjust cell size for smaller screens */
@media (max-width: 480px) {
  .cell {
    width: 60px;
    height: 60px;
    
  }
}

/* Adjust result margin for smaller screens */
@media (max-width: 768px) {
  .result {
    margin-left: 0;
    margin-top: 10px;
  }
}

/* Adjust new game button position for smaller screens */
@media (max-width: 768px) {
  .new-game-button {
    position: absolute;
    top: unset;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
}

